@if (status == 'pending') {
  <h3>Order Pending</h3>
} @else if (status == 'processing') {
  <h3>Order Processing</h3>
} @else if (status == 'shipped') {
  <h3>Order Shipped</h3>
} @else {
  <h3>Unknown Status</h3>
}
<hr />
@if (age >= 60) {
  <h3>You are my grand pa.</h3>
} @else if (age >= 40) {
  <h3>You are adult too.</h3>
} @else if (age >= 18) {
  <h3>You are adult</h3>
} @else {
  <h3>You are minor.</h3>
}

<input
  type="number"
  name="age"
  id="age"
  (input)="updateAge($event.target.value)"
  placeholder="Enter a age"
/>
<hr />

<button (click)="section = 'home'">Home</button>
<button (click)="section = 'profile'">Profile</button>
<button (click)="section = 'settings'">Settings</button>

@if (section == 'home') {
  <h3>Home Page</h3>
} @else if (section == 'profile') {
  <h3>Profile Page</h3>
} @else if (section == 'settings') {
  <h3>Settings Page</h3>
} @else {
  <h3>Page Not Found</h3>
}
<hr />
