/* You can add global styles to this file, and also import other style files */
// Way 5 + Way 6
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: lightgreen;
}

button {
  cursor: pointer;
}
